
<aside class="tag-sidebar">

  <section class="popular-docs widget">
    <h3>TOP ARTICLES THIS WEEK</h3>
    <ol>
      <li><a href=""><i class="fa fa-dashboard fa-fw number"></i><em>Inside FollowClosely:</em> Onboarding a New Client</a></li>
      <li><a href=""><i class="fa fa-check-circle fa-fw number"></i>Checklist: <em></em>Onboard in Less Than 15-Minutes</a></li>
      <li><a href=""><i class="fa fa-cloud-upload fa-fw number"></i>Sync Your Email Contacts Automatically</a></li>
      <li><a href=""><i class="fa fa-bolt fa-fw number"></i>Receive Customized Social Media Alerts</a></li>
      <li><a href=""><i class="fa fa-unlock-alt fa-fw number"></i>Free Resources for Customers Only</a></li>
      <li><a href=""><i class="fa fa-unlock-alt fa-fw number"></i>Free Resources for Customers Only</a></li>
      <li><a href=""><i class="fa fa-unlock-alt fa-fw number"></i>Free Resources for Customers Only</a></li>
      <li><a href=""><i class="fa fa-unlock-alt fa-fw number"></i>Free Resources for Customers Only</a></li>
    </ol>
  </section>

    <section class="tagsidebar-text widget">
        
        <ul>
        <p><strong>Getting Started</strong></p>
            <li><a href="https://followclosely.com/welcome/">Introduction</a></li>
        
            <li><a href="https://followclosely.com/about/">FollowClosely Emails</a></li>
        </ul>
        <ul>
          <p><strong>Questions?</strong></p>
            <li><a href="https://followclosely.com/help/">Submit a Support Ticket</a></li>
            <li><a href="https://followclosely.com/ask/">Ask Us a Question Directly</a></li>
        </ul>
        <ul>
          <p><strong>Quickstart Guides</strong></p>
            <li><a href="https://followclosely.com/help/">Onboarding: <em>The Hard Way</em></a></li>
            <li><a href="https://followclosely.com/help/">Consolidating Your Database</a></li>
        </ul>
    </section>

<section>
  <div class="sidebar-divider">
  </div>
</section>

  <section>
    <a class="ghost-love widget" href="https://followclosely.com/sign-up">
      <h3>Still stuck? <span class="highlight">Let's talk</span></h3>
      <h4>We'll make sure you never waste time doing this stuff again</h4>
      <div class="ghost-love-button">Sign Up Now</div>
    </a>
  </section>