{{!< default}}

<header class="blog-header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <h1>{{@blog.description}}</h1>
    </div>
</header>

<div class="wrap">
    <section class="blog-content">

        {{> loop}}

    </section>

    {{> sidebar}}

     

</div>