{{!< default}}
<div class="wrap">
    <section class="page-content">

        <article class="{{post_class}}">
            {{#post}}

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{#if image}}<img src="{{image}}" alt="Post image" />{{/if}}
                <h1>Intelligent Marketing Designed for Sales</h1>
                <h3>Pipeline automation and sales workflow set up & 100% managed for you. Done.</h3>
                {{> demo-form}}
                
                {{content}}
                
            </section>

            {{/post}}
        </article>

    </section>

    

  

</div>
