{{!< default}}

<div class="wrap page-wrap">
<!--    <section class="page-content">-->

  <article class="{{post_class}}">
    {{#post}}
    

      
      <section class="post-content">
          {{#if image}}<img src="{{image}}" alt="Post image" />{{/if}}
          {{content}}
      </section>

<h1 class="post-title">{{{title}}}</h1>


    {{/post}}
  </article>

<!--    </section>-->


</div>
